@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.background-competition-img {
    height: 100vh;
    background: url("../images/compteition_back.jpg");
    width: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.border-purple {
    border-color: purple !important;
}

table {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

table::-webkit-scrollbar {
    display: none;
}

/* Míg nem működik az egerem laptopon, addig nincs a html-es scrollbar megcsinálva! TODO*/

.no-underline {
    text-decoration: none;
}

.background-img {
    max-height: 92.25vh;
    width: 210vh;
    background-attachment: fixed;
}

.profileImg {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.stick {
    position: sticky;
    top: 0;
    z-index: 1;
}

body {
    overflow: hidden;
}

.position-rel {
    height: 100vh;
    width: 100vw;
    position: relative;

}

.transform {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.glass-card {
    background: rgba(40, 38, 38, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(40, 38, 38, 1);
}

.opacity {
    background: rgba(40, 38, 38, 0.50);
}

.width-form {
    width: 350px;
}

.background-color-view {
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#101010 0%, #2D2525 12%, #666060 100%);
}

.modal-content {
    background-color: transparent;
    font-size: 105%;
}

.btn-green {
    background-color: rgba(17, 232, 31, 0.760);
}

.btn-green:hover {
    background-color: rgba(17, 232, 31, 0.760);
}